main#main div#main-wrapper {}

main#main div#main-wrapper div {
    height: 100%;
    width: 100%;
}

main#main div#main-wrapper div img {
    height: 30vh;
    width: auto;
    border-radius: 50%;
    border: 10px solid rgba(10, 148, 150, 0.1);
}